.statistic {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin-top: 32px;

    &__body {
        box-sizing: border-box;
        height: 100px;
        left: 0px;
        background: #0B1739;
        border: 0.6px solid #343B4F;
        border-radius: 8px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        justify-content: space-between;
    }
    &__name {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        span {
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            color: #AEB9E1;
            margin-left: 3px;
        }
    }
    &__name-icon{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &__data {
        display: flex;
        flex-direction: row;
        align-items: center;
        span {
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            color: #FFFFFF;
        }
        div {
            margin-left: 6px;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 2px 4px;

            background: rgba(5, 193, 104, 0.2);
            border: 0.6px solid rgba(5, 193, 104, 0.2);
            border-radius: 2px;
            font-style: normal;
            font-weight: 500;
            font-size: 10px;
            line-height: 14px;
            color: #14CA74;
            svg {
                margin-left: 2px;
            }
        }
    }
}