
html {
    background-color: #081028;
    font-family: "Mona Sans", sans-serif;
}

body {
    box-sizing: border-box;
}

.home {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.active-fux {
    color: #CB3CFF;
    transition: 0.3s ease-in-out;
}

.active-tab {
    color: #fff !important;
}

.line {
    margin-top: 28px;

    width: 300px;
    height: 1px;
    background: #fff;
    opacity: 0.3;
    margin-left: -28px;
}

main {
    width: calc( 100% - 300px);
    padding: 35px 47px;
}

.over-block {
    display: flex;
    flex-direction: row;
    gap: 20px;
}