
html {
    background-color: #081028;
    font-family: "Mona Sans", sans-serif;
}

body {
    box-sizing: border-box;
}

.home {
    position: relative;
}

.active-fux {
    color: #CB3CFF;
    transition: 0.3s ease-in-out;
}

.active-tab {
    color: #fff !important;
}

.line {
    width: 300px;
    position: absolute;
    // bottom: 0%;
    height: 1px;
    background: #fff;
    opacity: 0.3;
    left: -28px;
    margin: 28px 0px;
}