.accord {
    margin-top: 30px;
    transition: 0.5s linear;
    font-style: normal;
    font-weight: 500;
    position: relative;

    &__btn {
        padding: 0px !important;
        color: #AEB9E1 !important;
        transition: color 0.3s ease-in-out;
        span svg {
            fill: #AEB9E1;
        }
        &:hover{
            color: #fff;
        }

    }

    &__title {
        margin-left: 5px;
    }

    &__body {
        background: none !important;
        box-shadow: none !important;
        &::before {
            background: none !important;
        }
    }

    &__link {
        background: none;
        padding: 14px;
        cursor: pointer;
        &:hover {
            background: #0A1330;
            outline: 0.6px solid #0A1330;
            border-radius: 4px;
            transition: background 0.3s ease-in-out;
            cursor: pointer;
        }

        li {
            color: #AEB9E1;
            transition: color 0.3s ease-in-out;

            &:hover {
                color: #fff;
            }
        }

    }

    &__typogr {
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }

    &__profile {
        display: flex;
        flex-direction: column;
        line-height: 1.2;
    }

    &__profile-text {
        font-size: 12px;
        margin-left: 5px;
    }

    .active-accord__link {
        border-radius: 4px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 3px;
            background-color: #CB3CFf;
            border-radius: 4px;
        }
    }

    .Mui-expanded {
        margin: 0px;
    }
}