.exp-btn{
    display: flex;
    height: 100%;
    align-content: center;
    justify-content: center;
    &__btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #fff;
        background: #0A1330;
        border-radius: 4px;
        padding: 8px;
        height: 30px;
        cursor: pointer;
        transition: background 0.3s ease-in-out;
        &:hover {
            background: #162557;
        }
        svg {
            margin-left: 5px;

        }

    }
    button {

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px;
        gap: 6px;
        height: 30px;
        background: #CB3CFF;
        border-radius: 4px;
        flex: none;
        order: 1;
        flex-grow: 0;
        color: #fff;
        text-transform: capitalize !important;
    }
}